.headnav{
  padding: 15px 0 22px 0;
  grid-template-columns: 1fr 1fr;
  @include minMedia(576) {
    padding: 22px 0;
  }
  @include minMedia(992) {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .logovrap{
    padding-left: 10px;
    @include minMedia(576) {
      padding-left: 0;
    }
  }
  .mainlink{
    justify-content: center;
    align-items: center;
    li{
      display: inline-block;
      position: relative;
      &+ li{
        margin-left: 2rem;
        @include minMedia(1200) {
          margin-left: 3rem;
        }
      }
    }
    a{
      display: inline-block;
      position: relative;
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      transition: all .25s ease;
      &:before{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $brand;
        left: 0;
        bottom: -5px;
        transition: all .25s ease;
      }
      &.active{
        color: $brand;
        &:before{
          width: 100%;
        }
      }
      &:hover{
        color: $brand;
        &:before {
          width: 100%;
        }
      }
    }
  }
  .entermenu {
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    @include minMedia(768) {
      padding-right: 0;
    }
    li {
      display: none;
      position: relative;
      &:last-child{
        display: inline-block;
      }
      @include minMedia(768) {
        display: inline-block;
      }
      &+li {
        margin-left: 2rem;
      }
    }
    .js-openmenu{
      display: inline-block;
      cursor: pointer;
      @include minMedia(992) {
        display: none;
      }
    }
    a {
      display: inline-block;
      position: relative;
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      transition: all .25s ease;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $brand;
        left: 0;
        bottom: -5px;
        transition: all .25s ease;
      }
      &.active {
        color: $brand;

        &:before {
          width: 100%;
        }
      }
      &:hover {
        color: $brand;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

// ==============================

.nav-toggle {
  background: 0 0;
  border: 0;
  position: relative;
  z-index: 1000;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  &__line{
    position: absolute;
    display: block;
    width: 100%;
    max-width: 26px;
    height: 2px;
    right: 0;
    background: #111;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    &:first-child {
      top: 8px;
    }
    &:nth-child(2) {
      top: 16px;
    }
    &:nth-child(3) {
      top: 25px;
    }
  }
}

.header-nav {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  width: 100vw;
  background: rgba(255,255,255, .85);
  backdrop-filter: blur(15px);
  z-index: 900;
  transition: all .3s;
  &--inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 20px;
    overflow-y: auto;
    @include minMedia(550) {
      padding: 50px;
      padding-top: 70px;
    }
  }
  .menu-mobil{
    .menu-item {
      font-weight: 400;
      letter-spacing: .2px;
      font-size: 32px;
      line-height: 1.5;
      opacity: 0;
      position: relative;
      left: 2.5rem;
      transition: all .3s;
      @include minMedia(576) {
        font-size: 36px;
      }&+.menu-item{
        margin-top: 1rem;
      }
      a, span{
        color: #111;
        display: block;
        opacity: 1;
        text-decoration: none;
        transition: all .3s;
      }
      &.active{
        a, span {
          opacity: .75;
          padding-left: 10px;
        }
      }
      &:hover{
        a {
          opacity: .75;
          padding-left: 10px;
        }
      }
      &.accent{
        a{
          color: theme_text_color("accent");
        }
      }
    }
  }
}



.menu-open {
  .nav-toggle {
    &__line {
      &:first-child {
        transform: rotate(135deg);
        top: 16px;
      }
      &:nth-child(2) {
        transform: rotate(135deg);
        top: 16px;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        top: 16px;
      }
    }
  }
  .header-nav {
    left: 0;
  }
  .menu-mobil{
    .menu-item {
      max-width: 100%;
      left: 0;
      opacity: 1;
      @include minMedia(550) {
        max-width: 50%;
      }
      @include minMedia(800) {
        max-width: 65%;
      }
      &:first-child {
        transition-delay: .3s;
      }
      &:nth-child(2) {
        transition-delay: .4s;
      }
      &:nth-child(3) {
        transition-delay: .5s;
      }
      &:nth-child(4) {
        transition-delay: .6s;
      }
      &:nth-child(5) {
        transition-delay: .7s;
      }
      &:nth-child(6) {
        transition-delay: .8s;
      }
      &:nth-child(7) {
        transition-delay: .9s;
      }
      &:nth-child(8) {
        transition-delay: 1s;
      }
    }
  }
}
